{% extends "init.html" %}

{% block title %} Delete An Item {% endblock %}

{% block header %} 
    <div class="header_puplic">
        <a href="{{url_for('gdisconnect')}}" class="logout_button">logout</a>
    </div>
{% endblock %}

{% block content %} 
    <form action="{{url_for('deleteItem', itemid = item.id)}}" method="POST" class="form">
        <p>Are you sure you want to delete this item ( {{item.name}} ).</p> 
        <input type="submit" value="Delete" />
    </form>
{% endblock %}