{% extends "init.html" %}

{% block title %} Edit An Item {% endblock %}

{% block header %} 
    <div class="header_puplic">
        <a href="{{url_for('gdisconnect')}}" class="logout_button">logout</a>
    </div>
{% endblock %}

{% block content %} 
    <form action="{{url_for('editItem', itemid = item.id)}}" method="POST" class="form">
        <p>Edit name:</p>
        <input type="text" size="30" name="name" placeholder="Enter a new item" required />
        <p>Description:</p>
        <input type="text" size="30" name="description" placeholder="describe the new item" required />
        <p>Category</p>
        <select name="category">
                {% for c in categories %}
                    <option value="{{c.id}}">{{c.name}}</option>
                {% endfor %}
        </select>
        <br />
        <input type="submit" value="Delete" />
    </form>
{% endblock %}