{% extends "init.html" %}

{% block title %} Item Info (Logged In) {% endblock %}

{% block header %} 
    <div class="header_puplic">
        <a href="{{url_for('gdisconnect')}}" class="logout_button">logout</a>
    </div>
    <div>
        {% for i in item %}
            <p><a href="{{url_for('editItem', itemid = i.id)}}">Edit</a></p>
            <p><a href="{{url_for('deleteItem', itemid = i.id)}}">Delete</a></p>
        {% endfor %}
    </div>
{% endblock %}

{% block content %} 
    <div class="items">
    {% for i in item %}
        <h3> {{i.name}} ( {{ i.category.name }} ) </h3>
        <p> {{i.description}} </p>
    {% endfor %}
    </div>
{% endblock %}