{% extends "init.html" %}

{% block title %} Items {% endblock %}

{% block header %} 
    <div class="header_puplic">
        <a href="{{url_for('login')}}" class="login_button">login</a>
    </div>
{% endblock %}

{% block content %} 
    <div class="items">
    <h3>Items</h3>
    {% for item in items %}
    <p><a href="{{url_for('showSelectedItem', item_id = item.id)}}">
        {{item.name}} ( {{ item.category.name }} ) 
    </a></p>
    {% endfor %}
    </div>
{% endblock %}